.sideMenuIconsStyles{
    padding: 5px;
    border-radius: 25%;
    color:white;
    display: inline-block;
    background-color: gainsboro;
    cursor: pointer;
    transition: all .2s;
}
.categoriesMenu li:hover .category {
    background-color: #548CFF;
}
.handburgerMenu {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 20px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 10px;
    z-index: 1;
}
.handburgerMenu > span {
    display: block;
    width: 100%;
    transition: all .3s;
}
.top_line::after,
.middle_line::after,
.bottom_line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:black;
    transform: rotate(0);
}
.middle_line::after{
 top: 50%;
}
.bottom_line::after{
 top:100%
}
.hide_line{
    display: none !important;
}
.rotate_top{
    transform: rotate(40deg) translateY(6px) translateX(6px) !important;
}
.rotate_bottom{
    transform: rotate(-40deg) translateY(6px) translateX(-6px) !important;
}

@media (max-width:642px) {
    .handburgerMenu{
        display: block;
    }
    .sideMenu{
       top: 3rem;
       width: 90%;
       transform: translateX(-100%);
       transition: all .5s ease;
    }
    .show{
        transform: translateX(0);
    }
  }